.container { 
    height: auto;
    width: 100vw;
    position: relative;
    margin: 0;
    padding: 0;
    background-color: var(--color_2);
}

.main-header {
    padding: 0;
    margin: 0;
    position: fixed;
    top:0;
    left: 0;
    height: 60px;
    background-image: url(./logo.png);
    background-repeat: no-repeat;
    background-size: 75px;
    background-position: 0;
    background-color: var(--color_2);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
}

.infos {
    color: var(--color_3);
    font-size: 21px;
    margin-top: 60px;
    padding-top: 30px;
    flex-direction: column;
    align-items: center; /* Alinha o conteúdo ao centro */
    text-align: center; /* Centraliza o texto */
}


.main-title {
    top: 100px;
    font-weight: 500;
    text-align: center;
}
.subtitle {

    text-align: center;
    top: 80px;
    margin-top: 5px;
    font-size: 20px;
    font-weight: 400;
    max-width: 80vw;
    margin-left: 10%;
}

.nav {
    color: var(--color_3);
    padding-top: 20px;
    margin-left: 150px;
}

.nav li:hover {
    cursor: pointer;
    color: var(--color_4);

}

.nav li {
    display: inline;
    font-size: 12px;
    font-weight: 500;
    list-style-type: none;
    margin-right: 40px;
}

.tools-container {
    padding: 35px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    height: auto;
    width: 100vw;
    margin-top: 40px;
    box-sizing: border-box;
    margin: 0 auto;
}

.tools-container button {
    flex-direction: column;
    text-align: left;
    padding: 20px;
    padding-top: 25px;
    border: none;
    display: flex;
    background-color: var(--color_);
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    height: 240px;
    width:100%px;
    box-shadow: -5px 9px 25px 7px rgba(0, 0, 0, 0.1);
    transition: font-size 0.3s ease;
}

.tools-container button:hover {
    cursor: pointer;
}

.b1 .icon {
    align-items: center;
    font-size: 50px;
    color: var(--color_5);
    transition: font-size 0.3s ease;
}

.tools-container button:hover .icon {
    transform: scale(1.2); /* Aumenta o tamanho do ícone */
}

.b1 .title {
    font-size: 19px;
    font-weight: 500;
    margin-top: 15px;
    color: var(--color_3);
    text-align: left;
    flex-wrap: nowrap;
}

.b1 .inf {
    margin-top: 10px;
    margin-right: 25px;
    color: var(--color_3);
    font-size: 14px;
    font-weight: 400;
}

.b2 .title {
    font-size: 19px;
    font-weight: 500;
    margin-top: 15px;
    color: var(--color_3);
    text-align: left;
    flex-wrap: nowrap;
}

.b2 .inf {
    margin-top: 10px;
    margin-right: 25px;
    text-align: left;
    color: var(--color_3);
    font-size: 14px;
    font-weight: 400;
}

.b2 .icon {
    align-items: center;
    font-size: 50px;
    color: var(--color_4);
    transition: font-size 0.3s ease;
}

.b3 .title {
    font-size: 19px;
    font-weight: 500;
    margin-top: 15px;
    color: var(--color_3);
    text-align: left;
    flex-wrap: nowrap;
}


.b3 .inf {
    margin-top: 10px;
    margin-right: 25px;
    margin-right: 25px;
    text-align: left;
    color: var(--color_3);
    font-size: 14px;
    font-weight: 400;
}

.b3 .icon {
    align-items: center;
    font-size: 50px;
    color:var(--color_11);
    transition: font-size 0.3s ease;
}

.b4 .title {
    font-size: 19px;
    font-weight: 500;
    margin-top: 15px;
    color: var(--color_3);
    text-align: left;
    flex-wrap: nowrap;
}


.b4 .inf {
    margin-top: 10px;
    margin-right: 25px;
    margin-right: 25px;
    text-align: left;
    color: var(--color_3);
    font-size: 14px;
    font-weight: 400;
}

.b4 .icon {
    align-items: center;
    font-size: 50px;
    color:var(--color_10);
    transition: font-size 0.3s ease;
}

.b5 .title {
    font-size: 19px;
    font-weight: 500;
    margin-top: 15px;
    color: var(--color_3);
    text-align: left;
    flex-wrap: nowrap;
}


.b5 .inf {
    margin-top: 10px;
    margin-right: 25px;
    margin-right: 25px;
    text-align: left;
    color: var(--color_3);
    font-size: 14px;
    font-weight: 400;
}

.b5 .icon {
    align-items: center;
    font-size: 50px;
    color:var(--color_7);
    transition: font-size 0.3s ease;
}

.b6 .title {
    font-size: 19px;
    font-weight: 500;
    margin-top: 15px;
    color: var(--color_3);
    text-align: left;
    flex-wrap: nowrap;
}


.b6 .inf {
    margin-top: 10px;
    margin-right: 25px;
    margin-right: 25px;
    text-align: left;
    color: var(--color_3);
    font-size: 14px;
    font-weight: 400;
}

.b6 .icon {
    align-items: center;
    font-size: 50px;
    color:var(--color_8);
    transition: font-size 0.3s ease;
}

.b7 .title {
    font-size: 19px;
    font-weight: 500;
    margin-top: 15px;
    color: var(--color_3);
    text-align: left;
    flex-wrap: nowrap;
}


.b7 .inf {
    margin-top: 10px;
    margin-right: 25px;;
    margin-right: 25px;
    text-align: left;
    color: var(--color_3);
    font-size: 14px;
    font-weight: 400;
}

.b7 .icon {
    align-items: center;
    font-size: 50px;
    color:var(--color_9);
    transition: font-size 0.3s ease;
}



